* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --f-family: 'Poppins';
    --f-weight: 400;
    --f-size: 13px;
    --f-color: #3F4254;
}

body {
    font-family: var(--f-family);
    font-weight: var(--f-weight);
    font-size: var(--f-size);
    color: var(--f-color);
    background-color: lightgray;
}
